/* MAIN.CSS is for GLOBAL styles */


*, *:before, *:after { /*selects ALL elements on page. make sure all the elements in Bloc Jams are sized using border-box. */
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }/* We want to keep the 2rem padding that we applied to the point class. However, we don't want the padding to affect the width of the elements, so they will maintain a consistent ratio for both small and large screens. */


html {
    height: 100%; /* makes sure our html takes up 100% of the browser window */
}

body {
    background-image: url(../assets/images/blurred_backgrounds/blur_bg_3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Open Sans'; /* sets our font to the Open Sans typeface from Google fonts */
    color: white; /* sets the text color to white */
    min-height: 100%; /* says the height of the body must be minimum of 100% of the window */
    padding-bottom: 150px;
}



.navbar { /* the entire top bar section */
    position: relative;
    padding: 0.5rem; /* 0.5 root em. use root em (relative to root/base) text size for making responsive sizing easier. space inside of nav bar*/
    background-color: rgba(101,18,95,0.5); /* purple. the "a" takes a 4th argument for transparency (0-1). */
    z-index: 1; /* this element will be on top of others. the higher the number the higher the element sits */
}

.navbar .logo { /* descendent selector: "logo" inside "navbar" */
    position: relative; /* */
    left: 2rem;
    cursor: pointer;/* produces the finger-pointer icon when you hover over the logo */
}

.navbar .links-container {/* descendent selector: "links-container" inside "navbar" */
     display: table;
     position: absolute;
     top: 0; /* all the way to the top */
     right: 0; /* all the way to the right */
     height: 100px;
     color: white; /* text color */
     /*text-decoration: none;  no link underline */
 }

 .links-container .navbar-link {/* descendent selector: "navbar-link" inside "links-container" */
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;     /* orients inline or table-cell content vertically to the "middle" */
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none; /*  no link underline */
     cursor: pointer;
 }



 .links-container .navbar-link:hover {   /* pseudo-class selector for mouse hover  */
     color: rgb(233,50,117); /* text changes color to bright pink */
 }

.container {
    margin: 0 auto; /* 0 top/bottom and auto left/right will center it */
    max-width: 64rem; /* maximum width of element is 64 root em. This is noticeable on large screens */
}
 .container.narrow {
     max-width: 56rem;
 }









/* MEDIA QUERIES FOR RESPONSIVE BREAKPOINTS */
/* 
iPhone4/5 min-device-width: 320px
Galaxy S3/4 device-width: 320px
Galaxy S5 device-width: 360px
HTC One device-width: 360px
iPhone6 min-device-width: 375px
iPhone6+ min-device-width: 414px

Asus Nexus 7 device-width: 601px
iPad mini, iPad1/2/3/4 min-device-width: 768px
Galaxy Tab 10.1 min-device-width: 800px
Kindle Fire HD 7 min-device-width: 800px
Kindle Fire HD 8.9 min-device-width: 1200px

*/

/* ROOT EM = 16PX in most browsers */

 /* and small screens (30rem = 480px) */
 @media (min-width: 30rem) { /* Everything that is at least 40 root ems wide */
     html { font-size: 112%; }
     .column {
         float: left; /* sticks to left-side of container */
         padding-left: 1rem;
         padding-right: 1rem;
         }
     .column.full {width: 100%;}
     .column.two-thirds {width: 66.7%;}
     .column.half, .column.third, .column.fourth {width: 50%;}
     .column.flow-opposite {float: right;}
}
 /* and small screens (35rem = 560px) */
 @media (min-width: 35rem) { /* Everything that is at least 40 root ems wide */
     .column.third, .column.fourth {width: 33.3%;}
}
  /* Medium and small screens (40rem = 640px) smaller tablets and bigger phones */
 @media (min-width: 40rem) { /* Everything that is at least 40 root ems wide */
     .column.fourth {width: 25%;}
}

 /* Large screens (1024px) laptops and tablets */
 @media (min-width: 64rem) {
     html { font-size: 120%;}
 }



.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}